
.form {

    & .search-input {
        padding          : var(--space-s) var(--space-m);
        width            : 550px;
        color            : inherit;
        background-color : var(--clr-zinc-800);
        border           : none;
        outline          : none;
    }

    & .search-input input {
        border           : none;
        outline          : none;
        background-color : transparent;
        color            : inherit;
        width            : 100%;
    }

    & .search-input::placeholder {
        color : color-mix(in hsl, currentColor 50%, transparent);
    }
}