
.alert-list {
    position : fixed;
    inset    : var(--space-fluid-l-xl) auto auto 0;
}

.alert-item {
    transition-property        : visibility, opacity, transform;
    transition-duration        : 300ms;
    transition-timing-function : ease-in-out;
}

.alert-item[data-visible="false"] {
    transform  : scale(0.65);
    opacity    : 0;
    visibility : hidden;
}

.alert-item[data-visible="true"] {
    transform  : scale(1);
    opacity    : 1;
    visibility : visible;
}

.alert-item[data-extended="false"] {
    margin              : 0 !important;
    transition-property : margin, max-height, visibility, opacity, transform;
}