
.alert {
    position   : fixed;
    inset      : var(--space-fluid-l-xl) auto auto 0;
    transform  : translateY(calc(-100% - var(--space-fluid-l-xl) - 1rem));
    transition : transform 300ms ease-in-out;
}

.alert[data-visible="true"] {
    transform : translateY(0);
}
